h3.wx{
    width: 500px;
    font-size: 500%;
    color: #000;
    font-family: '幼圆';
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-50%,-50%);
}

h3.wb{
    width: 500px;
    font-size: 500%;
    color: #000;
    font-family: '幼圆';
    position: absolute;
    left: 70%;
    top: 30%;
    transform: translate(-50%,-50%);
}